بسم الله الرحمن الرحيم

# Binary Classification

## Data

In [1]:
import pandas as pd

In [3]:
titanic=pd.read_csv('titanic_data.csv')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.shape

(889, 15)

In [12]:
titanic.dtypes

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object

In [5]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            176
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           686
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
titanic['age'].fillna(titanic['age'].mean(),inplace=True)

/tmp/ipython-input-325208225.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['age'].fillna(titanic['age'].mean(),inplace=True)

In [8]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           686
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [14]:
titanic['embarked'].value_counts()

embarked
S    643
C    168
Q     76
Name: count, dtype: int64

In [15]:
titanic.drop(['alive','deck','sex','embarked','who','adult_male','embark_town','alone'],axis=1,inplace=True)

In [16]:
titanic.dtypes

survived      int64
pclass        int64
age         float64
sibsp         int64
parch         int64
fare        float64
class        object
dtype: object

In [19]:
titanic['class'].value_counts()

class
Third     489
First     216
Second    184
Name: count, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()  # create an instance
titanic['class'] = le.fit_transform(titanic['class'])

In [24]:
titanic.dtypes

survived      int64
pclass        int64
age         float64
sibsp         int64
parch         int64
fare        float64
class         int64
dtype: object

In [36]:
titanic.shape

(889, 7)

In [37]:
titanic.columns

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'class'], dtype='object')

In [38]:
y=titanic['survived']
x=titanic.drop('survived',axis=1)

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
print(xtrain.shape)
print(ytrain.shape)

(711, 6)
(711,)

In [79]:
from keras import Sequential
from keras.layers import Dense, Input
model2=Sequential()

In [80]:
model2.add(Input(shape=(6,)))
model2.add(Dense(20, activation='relu'))
model2.add(Dense(20, activation='relu'))
model2.add(Dense(1, 'sigmoid'))

In [81]:
model2.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [83]:
result=model2.fit(xtrain, ytrain, validation_data=(xtest,ytest),epochs=100, batch_size=64)

Epoch 1/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - accuracy: 0.7060 - loss: 0.5870 - val_accuracy: 0.6854 - val_loss: 0.6428
Epoch 2/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7081 - loss: 0.5888 - val_accuracy: 0.7135 - val_loss: 0.6134
Epoch 3/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.7299 - loss: 0.5585 - val_accuracy: 0.7191 - val_loss: 0.6195
Epoch 4/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.7324 - loss: 0.5530 - val_accuracy: 0.7247 - val_loss: 0.6116
Epoch 5/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6881 - loss: 0.5850 - val_accuracy: 0.7022 - val_loss: 0.6205
Epoch 6/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.7338 - loss: 0.5639 - val_accuracy: 0.7079 - val_loss: 0.6174
Epoch 7/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7198 - loss: 0.5852 - val_accuracy: 0.7247 - val_loss: 0.6322
Epoch 8/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7331 - loss: 0.5563 - val_accuracy: 0.7022 - val_loss: 0.6215
Epoch 9/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7060 - loss: 0.5807 - val_accuracy: 0.6910 - val_loss: 0.6531
Epoch 10/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7375 - loss: 0.5633 - val_accuracy: 0.6573 - val_loss: 0.6573
Epoch 11/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.7333 - loss: 0.5471 - val_accuracy: 0.7022 - val_loss: 0.6244
Epoch 12/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7386 - loss: 0.5581 - val_accuracy: 0.7191 - val_loss: 0.6136
Epoch 13/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7555 - loss: 0.5250 - val_accuracy: 0.6798 - val_loss: 0.6295
Epoch 14/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7194 - loss: 0.5607 - val_accuracy: 0.7135 - val_loss: 0.6119
Epoch 15/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7126 - loss: 0.5530 - val_accuracy: 0.7135 - val_loss: 0.6121
Epoch 16/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7339 - loss: 0.5360 - val_accuracy: 0.7191 - val_loss: 0.6110
Epoch 17/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7270 - loss: 0.5540 - val_accuracy: 0.7247 - val_loss: 0.6162
Epoch 18/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7400 - loss: 0.5446 - val_accuracy: 0.7022 - val_loss: 0.6110
Epoch 19/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7366 - loss: 0.5438 - val_accuracy: 0.6966 - val_loss: 0.6097
Epoch 20/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7274 - loss: 0.5598 - val_accuracy: 0.7135 - val_loss: 0.6180
Epoch 21/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7218 - loss: 0.5636 - val_accuracy: 0.7022 - val_loss: 0.6183
Epoch 22/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7344 - loss: 0.5572 - val_accuracy: 0.6966 - val_loss: 0.6322
Epoch 23/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7453 - loss: 0.5391 - val_accuracy: 0.7191 - val_loss: 0.6136
Epoch 24/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7167 - loss: 0.5699 - val_accuracy: 0.6966 - val_loss: 0.6438
Epoch 25/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7345 - loss: 0.5823 - val_accuracy: 0.7022 - val_loss: 0.6081
Epoch 26/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7103 - loss: 0.5824 - val_accuracy: 0.7247 - val_loss: 0.6135
Epoch 27/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7193 - loss: 0.5643 - val_accuracy: 0.7247 - val_loss: 0.6083
Epoch 28/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7450 - loss: 0.5406 - val_accuracy: 0.6517 - val_loss: 0.6369
Epoch 29/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.6806 - loss: 0.6087 - val_accuracy: 0.6573 - val_loss: 0.6472
Epoch 30/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7374 - loss: 0.5594 - val_accuracy: 0.7022 - val_loss: 0.6273
Epoch 31/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7362 - loss: 0.5473 - val_accuracy: 0.6910 - val_loss: 0.6242
Epoch 32/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7468 - loss: 0.5280 - val_accuracy: 0.7022 - val_loss: 0.6150
Epoch 33/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.6733 - loss: 0.5987 - val_accuracy: 0.6798 - val_loss: 0.6440
Epoch 34/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7360 - loss: 0.5491 - val_accuracy: 0.6348 - val_loss: 0.7043
Epoch 35/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.6818 - loss: 0.6093 - val_accuracy: 0.7135 - val_loss: 0.6105
Epoch 36/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.7288 - loss: 0.5502 - val_accuracy: 0.7191 - val_loss: 0.6078
Epoch 37/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7331 - loss: 0.5444 - val_accuracy: 0.7135 - val_loss: 0.6156
Epoch 38/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7231 - loss: 0.5585 - val_accuracy: 0.7022 - val_loss: 0.6164
Epoch 39/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.7508 - loss: 0.5371 - val_accuracy: 0.7079 - val_loss: 0.6211
Epoch 40/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7133 - loss: 0.5650 - val_accuracy: 0.7079 - val_loss: 0.6117
Epoch 41/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7361 - loss: 0.5411 - val_accuracy: 0.6910 - val_loss: 0.6288
Epoch 42/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.7134 - loss: 0.5910 - val_accuracy: 0.6910 - val_loss: 0.6356
Epoch 43/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.7319 - loss: 0.5456 - val_accuracy: 0.6910 - val_loss: 0.6271
Epoch 44/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7041 - loss: 0.5739 - val_accuracy: 0.7135 - val_loss: 0.6068
Epoch 45/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7355 - loss: 0.5546 - val_accuracy: 0.7247 - val_loss: 0.6130
Epoch 46/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7294 - loss: 0.5462 - val_accuracy: 0.7079 - val_loss: 0.6074
Epoch 47/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7296 - loss: 0.5346 - val_accuracy: 0.6966 - val_loss: 0.6288
Epoch 48/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7056 - loss: 0.5640 - val_accuracy: 0.7247 - val_loss: 0.6057
Epoch 49/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.6954 - loss: 0.5989 - val_accuracy: 0.7191 - val_loss: 0.6112
Epoch 50/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7187 - loss: 0.5511 - val_accuracy: 0.7303 - val_loss: 0.6106
Epoch 51/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7409 - loss: 0.5400 - val_accuracy: 0.6966 - val_loss: 0.6169
Epoch 52/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7433 - loss: 0.5282 - val_accuracy: 0.7247 - val_loss: 0.6035
Epoch 53/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7202 - loss: 0.5576 - val_accuracy: 0.7303 - val_loss: 0.6047
Epoch 54/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7287 - loss: 0.5549 - val_accuracy: 0.7247 - val_loss: 0.6086
Epoch 55/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7140 - loss: 0.5489 - val_accuracy: 0.7191 - val_loss: 0.6049
Epoch 56/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7282 - loss: 0.5397 - val_accuracy: 0.6910 - val_loss: 0.6100
Epoch 57/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7051 - loss: 0.5592 - val_accuracy: 0.7022 - val_loss: 0.6177
Epoch 58/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7122 - loss: 0.5877 - val_accuracy: 0.7135 - val_loss: 0.6149
Epoch 59/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.7325 - loss: 0.5516 - val_accuracy: 0.7022 - val_loss: 0.6119
Epoch 60/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7458 - loss: 0.5300 - val_accuracy: 0.7247 - val_loss: 0.6088
Epoch 61/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7212 - loss: 0.5759 - val_accuracy: 0.7303 - val_loss: 0.6094
Epoch 62/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.6947 - loss: 0.5762 - val_accuracy: 0.7247 - val_loss: 0.6098
Epoch 63/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7228 - loss: 0.5507 - val_accuracy: 0.6742 - val_loss: 0.6647
Epoch 64/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7315 - loss: 0.5638 - val_accuracy: 0.6742 - val_loss: 0.6655
Epoch 65/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.6598 - loss: 0.7991 - val_accuracy: 0.7191 - val_loss: 0.7871
Epoch 66/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7045 - loss: 0.7671 - val_accuracy: 0.7247 - val_loss: 0.6452
Epoch 67/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7291 - loss: 0.6020 - val_accuracy: 0.6067 - val_loss: 0.6689
Epoch 68/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.6598 - loss: 0.6153 - val_accuracy: 0.7022 - val_loss: 0.6154
Epoch 69/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7256 - loss: 0.5775 - val_accuracy: 0.7303 - val_loss: 0.6049
Epoch 70/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7420 - loss: 0.5555 - val_accuracy: 0.7247 - val_loss: 0.6030
Epoch 71/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7379 - loss: 0.5504 - val_accuracy: 0.7247 - val_loss: 0.6028
Epoch 72/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7188 - loss: 0.5606 - val_accuracy: 0.6854 - val_loss: 0.6309
Epoch 73/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7269 - loss: 0.5808 - val_accuracy: 0.7247 - val_loss: 0.6079
Epoch 74/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7393 - loss: 0.5337 - val_accuracy: 0.7022 - val_loss: 0.6137
Epoch 75/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7263 - loss: 0.5524 - val_accuracy: 0.7079 - val_loss: 0.6035
Epoch 76/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7512 - loss: 0.5323 - val_accuracy: 0.7191 - val_loss: 0.6121
Epoch 77/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7033 - loss: 0.5703 - val_accuracy: 0.7191 - val_loss: 0.6108
Epoch 78/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7392 - loss: 0.5468 - val_accuracy: 0.7247 - val_loss: 0.6056
Epoch 79/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7222 - loss: 0.5500 - val_accuracy: 0.7191 - val_loss: 0.6081
Epoch 80/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7199 - loss: 0.5545 - val_accuracy: 0.6966 - val_loss: 0.6174
Epoch 81/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7336 - loss: 0.5532 - val_accuracy: 0.7247 - val_loss: 0.6097
Epoch 82/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7300 - loss: 0.5499 - val_accuracy: 0.7360 - val_loss: 0.6023
Epoch 83/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7422 - loss: 0.5323 - val_accuracy: 0.7135 - val_loss: 0.6056
Epoch 84/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7244 - loss: 0.5437 - val_accuracy: 0.7191 - val_loss: 0.6043
Epoch 85/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7470 - loss: 0.5410 - val_accuracy: 0.7247 - val_loss: 0.6082
Epoch 86/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7292 - loss: 0.5400 - val_accuracy: 0.7022 - val_loss: 0.6072
Epoch 87/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7057 - loss: 0.5673 - val_accuracy: 0.7191 - val_loss: 0.6019
Epoch 88/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7423 - loss: 0.5444 - val_accuracy: 0.7079 - val_loss: 0.6172
Epoch 89/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7207 - loss: 0.5438 - val_accuracy: 0.7135 - val_loss: 0.6038
Epoch 90/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.7097 - loss: 0.5804 - val_accuracy: 0.7022 - val_loss: 0.6052
Epoch 91/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7295 - loss: 0.5428 - val_accuracy: 0.6966 - val_loss: 0.6080
Epoch 92/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7396 - loss: 0.5510 - val_accuracy: 0.7247 - val_loss: 0.6121
Epoch 93/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7483 - loss: 0.5506 - val_accuracy: 0.6966 - val_loss: 0.6186
Epoch 94/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7445 - loss: 0.5346 - val_accuracy: 0.7191 - val_loss: 0.6046
Epoch 95/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7277 - loss: 0.5440 - val_accuracy: 0.6910 - val_loss: 0.6101
Epoch 96/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7364 - loss: 0.5385 - val_accuracy: 0.7135 - val_loss: 0.6047
Epoch 97/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.6987 - loss: 0.5850 - val_accuracy: 0.6629 - val_loss: 0.6639
Epoch 98/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.6978 - loss: 0.5775 - val_accuracy: 0.6910 - val_loss: 0.6186
Epoch 99/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7245 - loss: 0.5624 - val_accuracy: 0.7191 - val_loss: 0.6035
Epoch 100/100
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7411 - loss: 0.5539 - val_accuracy: 0.7247 - val_loss: 0.6036

In [77]:
model2.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_16 (Dense)                │ (None, 500)            │         3,500 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 200)            │       100,200 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 100)            │        20,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 20)             │         2,020 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 1)              │            21 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 377,525 (1.44 MB)

 Trainable params: 125,841 (491.57 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 251,684 (983.14 KB)

In [78]:
model2.evaluate(xtest,ytest)

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7112 - loss: 0.5862

[0.5881963968276978, 0.7078651785850525]



---



---